@font-face {
  font-family: "iconfont"; /* Project id 3963062 */
  src: url('iconfont.woff2?t=1679278146989') format('woff2'),
       url('iconfont.woff?t=1679278146989') format('woff'),
       url('iconfont.ttf?t=1679278146989') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmaomendianziti:before {
  content: "\e606";
}

.icon-icon-test:before {
  content: "\e622";
}

.icon-ico:before {
  content: "\e646";
}

.icon-31haoyou:before {
  content: "\e605";
}

.icon-shouye1:before {
  content: "\e63c";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-jiuyexieyi:before {
  content: "\e608";
}

.icon-qiaquan:before {
  content: "\e612";
}

.icon-dc-icon-xianhangzhengcetiaokuan:before {
  content: "\e667";
}

.icon-jifenduihuan:before {
  content: "\fab3";
}

.icon-licai-cunqianguan:before {
  content: "\e60f";
}

.icon-shiwu:before {
  content: "\e600";
}

.icon-lipintianchong:before {
  content: "\e686";
}

.icon-31wode:before {
  content: "\e601";
}

.icon-31hongbao:before {
  content: "\e602";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-yue:before {
  content: "\e636";
}

.icon-yinliao:before {
  content: "\e80f";
}

.icon-kafei:before {
  content: "\e60a";
}

.icon-tusi:before {
  content: "\e604";
}

.icon-kafei1:before {
  content: "\e611";
}

.icon-chuangyi:before {
  content: "\e6db";
}

.icon-dingdandingdanmingxishouzhimingxi-xianxing:before {
  content: "\e789";
}

.icon-bonus-line:before {
  content: "\e649";
}

.icon-meiguihua:before {
  content: "\e603";
}

.icon-daizhuangkafeidou:before {
  content: "\e641";
}

.icon-guihua:before {
  content: "\e618";
}

.icon-a-ziyuan679:before {
  content: "\e797";
}

